<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'html_sortable' %>
  </head>

  <body>

    <%= render 'shared/portfolio_nav' %>

    <!-- start of main -->
    <main role="main">

      <%= render 'shared/portfolio_masthead' %>
      
      <%= yield %>

    </main>
    <!-- end of main -->

    <%= render 'shared/portfolio_footer' %>

    <%= source_helper %>

    <script>
      const header = document.getElementById('navbarHeader')
      const btn = document.querySelector('.navbar-toggler')

      btn.addEventListener('click', () => {
        if (header.classList.contains('collapse')) {
          header.classList.remove('collapse')
        } else {
          header.classList.add('collapse')
        }
      })
    </script>

  </body>
</html>
